body {
    margin: 0 auto;
}

header {
    background-color: rgb(228, 91, 247);
    display: flex;
    align-items: baseline;
    padding: 20px 10px;
}

h1 {
    width: 200px;
    margin: 0;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

p {
    margin: 10px 20px;
    display: flex;
    align-items: center;
}

h2, .options {
    padding: 0 20px;
}

form {
    padding: 10px 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}

table td, table th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.registro, .login {
    background-color: white;
    padding: 10px;
}

.registro:hover, .login:hover {
    background-color: wheat;
}